@model FinanceManager.Models.ViewModels.HomeViewModel
<h4>Home</h4>

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">Total Bills Paid Quantity</h6>
                    <p class="card-text">@Model.BillsCount</p>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">Total Incomes Paid Quantity</h6>
                    <p class="card-text">@Model.IncomesCount</p>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">Total Incomes Paid Value</h6>
                    <p class="card-text">@Model.TotalIncomesPaid</p>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">Total Bills Paid Value</h6>
                    <p class="card-text">@Model.TotalBillsPaid</p>
                </div>
            </div>
        </div>
    </div>
</div>