@model FinanceManager.Models.ViewModels.SettingsViewModel
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
    <form action="\Settings\UpdateUser">
        <div class="form-group">
            @Html.HiddenFor(m => m.Id)
            <label>Username</label>
            @Html.TextBoxFor(m => m.Username, new { Class = "form-control" })
        </div>
        <div class="form-group">
            <label>Password</label>
            @Html.TextBoxFor(m => m.Password, new { Class = "form-control", Type = "password" })
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>