@model List<FinanceManager.Models.ViewModels.BillsViewModel>


<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <a href="/Bills/NewBill" class="btn btn-primary">New</a>
    <br>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">User</th>
                <th scope="col">Description</th>
                <th scope="col">Value</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var bill in Model)
            {
                <tr>
                    <th scope="row">@bill.Id</th>
                    <td>@bill.Username</td>
                    <td>@bill.Description</td>
                    <td>@bill.Value</td>
                    <td><a href="/Bills/EditBill/?id=@bill.Id" class="btn btn-primary">Edit</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>