<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Finance Manager</title>
    <!--Jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"
            integrity="sha512-Rdk63VC+1UYzGSgd3u2iadi0joUrcwX0IWp2rTh6KXFoAmgOjRS99Vynz1lJPT8dLjvo6JZOqpAHJyfCEZ5KoA=="
            crossorigin="anonymous"></script>
    <!--Bootstrap-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/dfe2e43d7c.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="~/ViewCore/simple-sidebar.css" asp-append-version="true" type="text/css">

    <!--MDB-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
    <!--MDB-->
    <!--Data Tables-->
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <!--Data Tables-->
</head>

<body>
    <div class="d-flex" id="wrapper">

        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="list-group list-group-flush">
                <a href="\Home\Home" class="list-group-item list-group-item-action bg-light"><i class="fas fa-home"></i>&nbsp;Home</a>
                <a href="\Bills\Bills" class="list-group-item list-group-item-action bg-light"><i class="fas fa-file-invoice"></i>&nbsp;Bills</a>
                <a href="\Incomes\Incomes" class="list-group-item list-group-item-action bg-light"><i class="fas fa-file-invoice-dollar"></i>&nbsp;Incomes</a>
                <a href="\Months\Months" class="list-group-item list-group-item-action bg-light"><i class="fas fa-chart-line"></i>&nbsp;Months</a>
                <a href="\Savings\Savings" class="list-group-item list-group-item-action bg-light"><i class="fas fa-piggy-bank"></i>&nbsp;Savings</a>
                <a href="\Settings\Settings" class="list-group-item list-group-item-action bg-light"><i class="fas fa-cogs"></i>&nbsp;Settings</a>
            </div>
        </div>

        <div id="page-content-wrapper">
            <nav class="navbar navbar-light bg-light border-bottom">
                <button class="btn btn-primary" id="menu-toggle"><i class="fa fa-arrow-left"></i>Close Menu</button>

                <div class="float-right">
                    <i class="fas fa-user"></i> @FinanceManager.Controllers.Session.WebHelpers.GetSession().Username
                    <a href="/Login/LogOut" style="color:black;"><i class="fas fa-sign-out-alt"></i> Log Out</a>
                </div>
            </nav>
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
    </div>
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</body>
</html>