@model List<FinanceManager.Models.ViewModels.IncomesViewModel>


<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <a href="/Incomes/NewIncome" class="btn btn-primary">New</a>
    <br>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">User</th>
                <th scope="col">Description</th>
                <th scope="col">Value</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var income in Model)
            {
                <tr>
                    <th scope="row">@income.Id</th>
                    <td>@income.Username</td>
                    <td>@income.Description</td>
                    <td>@income.Value</td>
                    <td><a href="/Incomes/EditIncome/?id=@income.Id" class="btn btn-primary">Edit</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>