@page
@model FinanceManager.Models.ViewModels.LoginViewModel

@{ 
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}

@if (string.IsNullOrEmpty(ViewBag.Message) != true)
{
    <br>
    <div class="container">
        <div class="alert alert-primary form-inline" role="alert">
            @ViewBag.Message
            &nbsp;
            @if ((bool)ViewBag.IsFirstAccess)
            {
                <b><a href="/Login/RegisterUser">Click here to register.</a></b>
            }
        </div>
    </div>
}

<div style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <div class="container">
        <form action="/Login/SubmitLogin" method="post">
            <div class="form-group">
                <label>Username</label>
                @Html.TextBoxFor(m => m.Username, new { Class = "form-control", PlaceHolder = "Enter Username", Required = true })
            </div>
            <div class="form-group">
                <label>Password</label>
                @Html.TextBoxFor(m => m.Password, new { Type = "Password", Class = "form-control", PlaceHolder = "Enter Password", Required = true })
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>